* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    background-color: rgb(232,232,232);
}
#payment-success {
    padding: 25px 0;
    color: white;
    text-align: center;
    background-color: #5eaa46;
}
#trans-succ {
    font-size: 18px;
    font-weight: 600;
}
#date-time {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.904);
}
#succ-logo-div {
    padding-bottom: 10px;
}
#trans-details-div {
    background-color: white;
}
#trans-id-name, #paid-to-name, #debited-from-name {
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 20px;
}
#trans-no {
    display: flex;
    font-size: 12px;
    padding-bottom: 10px;
}
#copy {
    margin-left: auto;
    order: 2;
    font-size: 11px;
    color: #6739B7;
    font-weight: 600;
}
.mini-container {
    padding: 15px 15px;
}
#paid-to-div {
    margin-top: 8px;
    background-color: white;
}
#user {
    display: flex;
    height: 40px;
}
#image img {
    width: 40px;
}
#name, #amount {
    padding-left: 10px;
    margin: auto 0;
    font-size: 14px;
}
#amount {
    margin-left: auto;
    order: 2;
    font-weight: 600;
}
#trans-extra, #bank-extra {
    font-size: 11px;
    font-weight: 600;
    color: #6739B7;
    padding: 20px 0;
}
#trans-extra div, #bank-extra div {
    display: inline;
    float: right;
    padding-left: 20px;
}
#debited-from-div {
    background-color: white;
    margin-top: 8px;
}
#bank-details { 
    display: flex;
    /* width: 40px; */
}
#bank-img {
    /* float: left; */
    padding: 5px;
}
#bank-img img {
    width: 25px;
}
#bank-ac-no {
    margin: auto 0;
    font-size: 14px;
    padding: 0 10px;
}
#bank-ac-no span {
    font-size: 12px;
    color: gray;
}
#bank-amt {
    margin: auto 0;
    margin-left: auto;
    font-size: 14px;
}
#powered-by-div {
    padding: 20px 0;
}
#powered-by-div div {
    font-size: 12px;
    text-align: center;
    color: gray;
    padding-bottom: 10px;
}
#bhim-logo {
    width: 65px;
    height: auto;
    border-right: 0.5px solid gray;
    padding-right: 2px;
    margin: 5px 0;
}
#upi-logo {
    width: 50px;
    height: auto;
}
#yesbank-logo {
    width: 70px;
}
#done-div {
    height: 50px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: white;
    border-top: 0.5px solid rgb(195, 195, 195);
}
#done-div div {
    padding-top: 16px;
    font-weight: 600;
    margin: auto 0;
    text-align: center;
}